.navbar {
  margin-bottom: 0px;
  border: none;
}

.appheader {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  font-size: 24px;
  background-color: rgb(66, 139, 202);
}

.appheader h1 {
  color: white;
}

/* Footer */

footer {
  color: #aaa;
  /* Set the fixed height of the footer here */
  height: 80px;
  width: 100%;
}

/* D3 */

.bar {
  fill: rgb(66, 139, 202);
}

.bar:hover {
  fill: rgb(143, 60, 47);
}

.axis {
  font: 10px sans-serif;
 }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
